# Log file
*.log

# Idea
.idea
*.iml
*.iws
*.ipr

# Java
*.class
*.jar
*.war
*.ear

# Package Files
*.nar
*.zip
*.tar.gz
*.rar

# OS
Thumbs.db
.DS_Store

# Maven
target

# Build
out
build
bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
